<div class="container">
  <h2>Search Author</h2>
  <form action="/author" method="get">
    <div class="form-group">
      <label for="name" class="col-form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="search"
        placeholder="Author name"
        value="<%= searchOption.search %>"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <div class="authors mt-5">
    <% authors.forEach(author => { %>
    <div><%= author.name %></div>
    <a href="/author/<%= author.id %>">View</a>
    <a href="/author/<%= author.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm.ejs', { url: `/author/${author.id}` })
    %> <% }) %>
  </div>
</div>
